body::before
{
    display: block;
    content: '';
    height: 60px;
}

.nav-link:hover::after{
    transition: all .25s;
}

.nav-custom {
    color: white;
    transition: .15s;
}

.nav-custom:hover{
    opacity: 50%;
}

.loader {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 1000%;
    height: 1000%;
    background: white;
}
